{% extends 'navbar.html' %}
{% block nav %}

<h2 class="mt-3">Cart List</h2>

<table class="table mt-5">
    <thead>
      <tr>
        <th>Product</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
    {% for i in carts %}
      <tr>
        <td></td>
        <td>{{i.product}}</td>
        <td></td>
        <td>{{i.quantity}}</td>
        <td></td>
        <td>
           <a href=""><i class="fa-solid fa-xmark" style="color: #00040a;"></i></a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock nav %}
