
{% extends 'navbar.html' %}
{% block nav %}
{% load static %}
<h2 class="m-3">Welcome <span></span></h2>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'ecom1.png' %}" height="400px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'ecom1.png' %}" height="400px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'ecom1.png' %}" height="400px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" style="background-color: rgb(196, 211, 130);" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" style="background-color: rgb(196, 211, 130);" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="text-center mt-5">Categories</h2>
  <div class="p-2 d-flex justify-content-evenly">

    <div class="card" style="width: 18rem;">
        <img src="{% static 'ecom1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Smart Phones</h5>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'ecom1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Tablets</h5>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'ecom1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Smart Watch</h5>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'ecom1.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Laptops</h5>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
  </div>

{% endblock nav %}