*{
    background-color: cadetblue;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
#desc>h2{
    color: azure;
}